<?xml version="1.0"?>
<!-- Runs obstacle_detector with a static_scan publisher. -->
<launch>
  <!-- <node pkg="obstacle_detector" type="static_scan_publisher" name="static_scan_publisher" output="screen"/> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_scanner" output="screen" args="0 0 0 0 0 0 world map 10"/>  -->

  <node pkg="scan_finer" type="scan_finer" name="scan_finer" output="screen">
    <param name="world_frame"     type="string" value="map"/>
    <param name="scanner_frame"   type="string" value="base_scan"/>

    <param name="scan_name"           type="string" value="scan"/>
    <param name="costmap_name"        type="string" value="costmap_node/costmap/costmap"/>
    <param name="output_name"         type="string" value="fined_scan"/>

    <param name="max_scanner_range"   type="double" value="20.0"/>
  </node>
</launch>
